/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
    outline: 1px solid black;
  }
  
body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 800px
  }

.heading,
.didIt{
  height: 50px;
  width: 100%;
}

#list{
  list-style-type: none;
  padding: 0;
  width: 90%;
  border-radius: 50px;
  margin: 0 auto;
}

.listBox{
  text-align: center;
}

.chore{
  margin: 0 auto;
  max-width: 90%;
  display: inline-block;
}

.timer{
  float: right;
  right: 10px;
  display: inline-block;
}

.listHead{
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  
}

#task{
  width: 70%;
}

.list button{
  width: 10%;
}

.listItem{
  max-height: 25px;
  width: 90%;
  border-radius: 30px;
  margin: 0 auto;
  text-align: justify;
}

.didIt{
  display: none;
}

.didIt button{
  width: 80%;
  height: 90%;
}

